<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Yantramanav:wght@900&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Google Icon Fonts used by Materialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS Framework -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="stylesheets/style.css" />
    <!-- JavaScript for Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <title>SEI Study Sessions</title>
</head>

<body>
    <div class= main-body>
        <nav>
            <a href="/events/new" <%- title === 'Add Event' ? 'class="active"' : '' %>>ADD EVENT</a>
            <a href="/students" <%- title === 'View Account' ? 'class="active"' : '' %>>VIEW ACCOUNT</a>
            <a href="/events/index" <%- title === 'All Events' ? 'class="active"' : '' %>>ALL EVENTS</a>
        
            <span class="google-loginout">
            <a href="/">HOME</a>  
            <a href="/auth/google">Login with Google</a>   
            <a href="/logout">Log Out</a>
            </span>
           </nav>
    <h1>Create a New Study Event</h1>
<form action="/events" method="POST">
  <label>Event Name:
    <input type="text" name="eventName">
  </label><br>
  <label>Creator
    <input type="text" name="creator">
  </label><br>
  <label>Cohort:
    <input type="number" name="cohort">
  </label><br>
  <label>Topics (separate topics with commas):
    <input type="text" name="topics">
  </label><br>
  <label>Event Date & Time:
    <input type="datetime-local" name="date">
  </label><br>
  <input type="submit" value="Add Event">
</form>
</div>
</body>

</html>