<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>
<body>
    <h2>Create a New Study Event</h2>
<form action="/events" method="POST">
  <label>Event Name:
    <input type="text" name="eventName">
  </label><br>
  <label>Creator
    <input type="text" name="creator">
  </label><br>
  <label>Cohort:
    <input type="number" name="cohort">
  </label><br>
  <label>Topics (separate topics with commas):
    <input type="text" name="topics">
  </label><br>
  <label>Event Date:
    <input type="date" name="date">
  </label><br>
  <input type="submit" value="Add Event">
</form>
</body>
</html>